# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# SQLite database
*.db

# Uploaded files
uploads/*

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
